.main {
  background-color: antiquewhite;
}
.row {
  height: 100%;
}
.col-md-4 mt-1 {
  height: 100%;
}

.ratings {
  background-color: whitesmoke;
  padding: 1em;
  height: 16em;
}
.connected-profiles {
  background-color: aquamarine;
  padding: 1em;
  height: 18em;
}
.mail-pref {
  background-color: blue;
  padding: 1em;
  height: 16em;
}
.delete-account {
  background-color: red;
  text-align: center;
  height: 4em;
  padding-top: 0.8em;
}
.recent-submissions {
  height: 35em;
}
.user-name,
.rank,
.points,
.badge,
.friends {
  background-color: aquamarine;
  height: 8em;
}
